<section class="section section__about">
    <img class="image section__about--banner" src="https://source.unsplash.com/1600x600/?coder">
    <div class="container">
        <h2 class="heading heading-1">About</h2>
        <div class="section__about--content">
            <div class="section__about--head">
                <img class="image section__about--head-img" src="https://source.unsplash.com/900x900/?coder">
                <div class="social">
                    <a class="btn social__link" href="#">
                        <i class="devicon-facebook-plain"></i>
                    </a>
                    <a class="btn social__link" href="#">
                        <i class="fab fa-github"></i>
                    </a>
                    <a class="btn social__link" href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>
            </div>
            <div class="section__about--body">
                <p class="text justify">I have been a web developer since 2018. I moved to the Canary Islands to spend a year intensely self-studying web development. I've decided to stay here, but now I am ready to offer my services. I enjoy the challenge of writing
                    good, maintainable code, being creative with designs and the continual learning process in this industry.
                </p>
                <p class="text justify">When I am not in front of my computer, I enjoy playing the piano, volunteering at my local dog shelter and exploring the amazing climate here on my mountain bike.
                </p>
            </div>
        </div>
    </div>
</section>
