<section class="section section__contact">
    <div class="container">
        <h2 class="heading heading-1">Contact</h2>
        <p class="text center">You can get in touch with me via the following methods: </p>
        <div class="contact-menu">
            <div class="contact-menu__button">
                <a class="contact-menu__button--link btn" href="#">
                    <i class="contact-menu__button--icon fas fa-phone"></i>
                    <span class="contact-menu__button--text">658 333 333</span>
                </a>
            </div>
            <div class="contact-menu__button">
                <a class="contact-menu__button--link btn" href="#">
                    <i class="contact-menu__button--icon fab fa-whatsapp"></i>
                    <span class="contact-menu__button--text">658 333 333</span>
                </a>
            </div>
            <div class="contact-menu__button">
                <a class="contact-menu__button--link btn" href="#">
                    <i class="contact-menu__button--icon fas fa-envelope"></i>
                    <span class="contact-menu__button--text">dave@dandroos.net</span>
                </a>
            </div>
        </div>
        <form class="contact-form">
            <div class="contact-form__top">
                <input class="contact-form__top--input" type="text" id="name" name="name" placeholder="Name">
                <input class="contact-form__top--input" type="email" id="email" name="email" placeholder="Email">
                <input class="contact-form__top--input" type="text" id="phone" name="phone" placeholder="Phone">
            </div>
            <textarea class="contact-form__textarea" id="message" name="message" placeholder="Write a message..."></textarea>
            <input class="contact-form__submit btn" type="submit" value="submit">
        </form>
    </div>
</section>