<nav class="nav">
    <h1 class="nav__logo">David Andrews</h1>
    <ul class="nav__links">
        <li class="nav__item"><a class="nav__item--link" href="#home">Home</a></li>
        <li class="nav__item"><a class="nav__item--link" href="#skills">Skills</a></li>
        <li class="nav__item"><a class="nav__item--link" href="#about">About</a></li>
        <li class="nav__item"><a class="nav__item--link" href="#portfolio">Portfolio</a></li>
        <li class="nav__item"><a class="nav__item--link" href="#contact">Contact</a></li>
    </ul>
</nav>