<section class="section section__portfolio">
    <div class="container">
        <h2 class="heading heading-1">Portfolio</h2>
        <p class="text center">Below is a list of my completed projects. Use the checkboxes below to filter
            examples by language/library/framework etc.</p>
        <div class="portfolio portfolio-selector">
            <div class="card card__portfolio">
                <div class="portfolio-selector__submenu">
                    <h3 class="portfolio-selector__submenu--title">Core</h3>
                    <span class="portfolio-selector__submenu--group">
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="html">HTML5</label>
                            <input class="portfolio-selector__submenu--checkbox" id="html" type="checkbox" checked disabled>
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="css3">CSS3</label>
                            <input class="portfolio-selector__submenu--checkbox" id="css3" type="checkbox" checked disabled>
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="js">JavaScript</label>
                            <input class="portfolio-selector__submenu--checkbox" id="js" type="checkbox" checked disabled>
                        </span>
                    </span>
                </div>
                <div class="portfolio-selector__submenu">
                    <h3 class="portfolio-selector__submenu--title">Server-side</h3>
                    <span class="portfolio-selector__submenu--group">
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="php">PHP</label>
                            <input class="portfolio-selector__submenu--checkbox" id="php" type="checkbox">
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="node">Node.js</label>
                            <input class="portfolio-selector__submenu--checkbox" id="node" type="checkbox">
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="python">Python</label>
                            <input class="portfolio-selector__submenu--checkbox" id="python" type="checkbox">
                        </span>
                    </span>
                </div>
                <div class="portfolio-selector__submenu">
                    <h3 class="portfolio-selector__submenu--title">Databases</h3>
                    <span class="portfolio-selector__submenu--group">
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="mysql">MySQL</label>
                            <input class="portfolio-selector__submenu--checkbox" id="mysql" type="checkbox">
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="mongo">MongoDB</label>
                            <input class="portfolio-selector__submenu--checkbox" id="mongo" type="checkbox">
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="postgres">PostgreSQL</label>
                            <input class="portfolio-selector__submenu--checkbox" id="postgres" type="checkbox">
                        </span>
                    </span>
                </div>
                <div class="portfolio-selector__submenu">
                    <h3 class="portfolio-selector__submenu--title">CSS Tools</h3>
                    <span class="portfolio-selector__submenu--group">
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="sass">Sass</label>
                            <input class="portfolio-selector__submenu--checkbox" id="sass" type="checkbox">
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="bootstrap">Bootstrap</label>
                            <input class="portfolio-selector__submenu--checkbox" id="bootstrap" type="checkbox">
                        </span>
                    </span>
                </div>
                <div class="portfolio-selector__submenu">
                    <h3 class="portfolio-selector__submenu--title">Front-end frameworks (UI)</h3>
                    <span class="portfolio-selector__submenu--group">
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--filter--label" for="react">React</label>
                            <input class="portfolio-selector__submenu--filter--checkbox" id="react" type="checkbox">
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label for="angular">Angular</label>
                            <input class="portfolio-selector__submenu--checkbox" id="angular" type="checkbox">
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label for="vue">Vue.js</label>
                            <input class="portfolio-selector__submenu--checkbox" id="vue" type="checkbox">
                        </span>
                    </span>
                </div>
                <div class="portfolio-selector__submenu">
                    <h3 class="portfolio-selector__submenu--title">Full-stack frameworks</h3>
                    <span class="portfolio-selector__submenu--group">
                        <span class="portfolio-selector__submenu--filter">
                        <label class="portfolio-selector__submenu--label" for="laravel">Laravel</label>
                        <input class="portfolio-selector__submenu--checkbox" id="laravel" type="checkbox">
                    </span>
                    <span class="portfolio-selector__submenu--filter">
                        <label class="portfolio-selector__submenu--label" for="django">Django</label>
                        <input class="portfolio-selector__submenu--checkbox" id="django" type="checkbox">
                    </span>
                    <span class="portfolio-selector__submenu--filter">
                        <label class="portfolio-selector__submenu--label" for="rails">Rails</label>
                        <input class="portfolio-selector__submenu--checkbox" id="rails" type="checkbox">
                    </span>
                </span>
                </div>
                <div class="portfolio-selector__submenu">
                    <h3 class="portfolio-selector__submenu--title">Content Management Systems (CMS)</h3>
                    <span class="portfolio-selector__submenu--group">
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="wordpress">Wordpress</label>
                            <input class="portfolio-selector__submenu--checkbox" id="wordpress" type="checkbox">
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="drupal">Drupal</label>
                            <input class="portfolio-selector__submenu--checkbox" id="drupal" type="checkbox">
                        </span>
                        <span class="portfolio-selector__submenu--filter">
                            <label class="portfolio-selector__submenu--label" for="joomla">Joomla</label>
                            <input class="portfolio-selector__submenu--checkbox" id="joomla" type="checkbox">
                        </span>
                    </span>
                </div>
            </div>
        </div>
        <div class="portfolio portfolio-projects">
            <div class="portfolio-projects__project">
                <div class="portfolio-projects__project--topbar">
                    <h3 class="portfolio-projects__project--topbar-title">dandroos.net</h3>
                    <a class="portfolio-projects__project--topbar-link btn">Visit</a>
                </div>
                <div class="portfolio-projects__project--summary">
                <a class="portfolio-projects__project--summary-link" href="#"><img
                            class="image portfolio-projects__project--summary-link-screenshot"
                            src="https://source.unsplash.com/1200x800/?screenshot"></a>
                    <p class="portfolio-projects__project--summary-field">Created:<span class="portfolio-projects__project--summary-value">5 April 2019</span>
                    </p>
                    <p class="portfolio-projects__project--summary-field">Technologies</p><span class="portfolio-projects__project--summary-value">React |
                        Bootstrap | PostgreSQL</span>
                </div>
                <div class="text portfolio-projects__project--summary-notes">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis quo cupiditate iure, reprehenderit autem cum ea amet, rerum voluptatibus nesciunt quaerat
                    libero magni maiores accusamus blanditiis. Doloribus quidem,
                    autem maiores ipsa ad quia quis numquam, aliquam illum nesciunt vitae rem quaerat! Non iste quae
                    earum nam ea ipsam cum beatae eveniet officia, quo quam sint fugit quisquam recusandae atque
                    molestiae tempore illo necessitatibus
                    provident! Obcaecati dignissimos illum voluptates nam sint, esse sunt repellat dolore tenetur
                    mollitia voluptatem nulla autem eaque vitae! Iusto expedita ullam, voluptate vero quos esse ab at
                    rerum illum corrupti eum, quasi
                    cumque, blanditiis incidunt voluptatum.</div>
            </div>
            <div class="portfolio-projects__project">
                <div class="portfolio-projects__project--topbar">
                    <h3 class="portfolio-projects__project--topbar-title">dandroos.net</h3>
                    <a class="portfolio-projects__project--topbar-link btn">Visit</a>
                </div>
                <div class="portfolio-projects__project--summary">
                <a class="portfolio-projects__project--summary-link" href="#"><img
                            class="image portfolio-projects__project--summary-link-screenshot"
                            src="https://source.unsplash.com/1200x800/?screenshot"></a>
                    <p class="portfolio-projects__project--summary-field">Created:<span class="portfolio-projects__project--summary-value">5 April 2019</span>
                    </p>
                    <p class="portfolio-projects__project--summary-field">Technologies</p><span class="portfolio-projects__project--summary-value">React |
                        Bootstrap | PostgreSQL</span>
                </div>
                <div class="text portfolio-projects__project--summary-notes">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga
                    reiciendis quo cupiditate iure, reprehenderit autem cum ea amet, rerum voluptatibus nesciunt quaerat
                    libero magni maiores accusamus blanditiis. Doloribus quidem,
                    autem maiores ipsa ad quia quis numquam, aliquam illum nesciunt vitae rem quaerat! Non iste quae
                    earum nam ea ipsam cum beatae eveniet officia, quo quam sint fugit quisquam recusandae atque
                    molestiae tempore illo necessitatibus
                    provident! Obcaecati dignissimos illum voluptates nam sint, esse sunt repellat dolore tenetur
                    mollitia voluptatem nulla autem eaque vitae! Iusto expedita ullam, voluptate vero quos esse ab at
                    rerum illum corrupti eum, quasi
                    cumque, blanditiis incidunt voluptatum.</div>
            </div>
        </div>
</section>