<div class="section__skills--principles">
    <h3 class="heading heading-2">My Development Principles</h3>
    <p class="text center">
        No matter what the scale or budget is, I follow these principles
        for all projects I undertake.
    </p>
    <div class="card card__principle">
        <span class="card__principle--head">
            <span class="card__principle--head-icon">
                <i class="fas fa-kiss"></i>
            </span>
            <h4 class="card__principle--head-title heading-3">KISS</h4>
        </span>
        <p class="card__principle--description">
            KISS stands for 'Keep It Simple, Stupid!'. The temptation
            with all these available languages/frameworks/tools is to over-complicate. To avoid
            this, I carefully plan my projects before writing any code. Everything is there for
            a purpose.
        </p>
    </div>
    <div class="card card__principle">
        <span class="card__principle--head">
            <span class="card__principle--head-icon">
                <i class="fas fa-sun"></i>
            </span>
            <h4 class="card__principle--head-title heading-3">D.R.Y.</h4>
        </span>
        <p class="card__principle--description">
            DRY stands for 'Don't Repeat Yourself'. Without careful planning, code can quickly become repetitious and therefore a nightmare to maintain! I
            ensure that any changes/updates to functionality need only to be made in one place.
        </p>
    </div>
    <div class="card card__principle">
        <span class="card__principle--head">
            <span class="card__principle--head-icon">
                <i class="fas fa-socks"></i>
            </span>
            <h4 class="card__principle--head-title heading-3">S.O.C.</h4>
        </span>
        <p class="card__principle--description">
            SOC stands for 'Separation of Concerns'. From a maintenance
            and scalability perspective, it is very important to separate concerns by modularising
            code. This allows making efficient changes to apps without breaking everything!</p>
    </div>
    <div class="card card__principle">
        <span class="card__principle--head">
            <span class="card__principle--head-icon">
                <i class="far fa-futbol"></i>
            </span>
            <h4 class="card__principle--head-title heading-3">K.I.T.</h4>
        </span>
        <p class="card__principle--description">
            KIT stands for 'Keep in Touch'. I pride myself on keeping
            my clients informed at regular pre-arranged intervals about the progress of their
            projects. That said, I set achievable deadlines from the start and do everything within
            my power to stick to them. I am 'on call' for my clients around the clock for a full
            'post-sale' service and have a friendly, approachable manner.
        </p>
    </div>
</div>