<div class="section__skills--skills">
    <h3 class="heading heading-2">Languages, Libraries, Frameworks and Tools</h3>
    <p class="text center">The toolbox of web languages, frameworks and libraries is
        expanding at a rapid rate. I have listed my skills below with an honest self-appraisal of my
        current ability level. Like all good web developers, I learn something new on
        a daily basis so this list will be constantly evolving!</p>
    {% include 'section/skills/section/core.html' %}
    {% include 'section/skills/section/server_side.html' %}
    {% include 'section/skills/section/databases.html' %}
    {% include 'section/skills/section/css_tools.html' %}
    {% include 'section/skills/section/front-end_frameworks.html' %}
    {% include 'section/skills/section/full-stack_frameworks.html' %}
    {% include 'section/skills/section/cms.html' %}
    {% include 'section/skills/section/development_tools.html' %}
    {% include 'section/skills/section/graphics.html' %}
</div>